@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap');

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 50px;
    font-family: 'Roboto Slab', serif;
}

.profile-picture {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 350px;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 600px;
    height: auto;
}


/* Download/Contact Button */

.download-resume {
    color: white;
    background-color: rgb(41, 39, 39);
    border-style: none;
    margin-right: 20px;

}

.contact-button {
    color: black;
    border: 1px solid black;
    border-style: solid;
}


.download-resume,
.contact-button {
    margin-top: 15px;
    font-size: 16px;
    padding: 15px 15px;
    border-radius: 30px;
}